# .NET
bin/
obj/
*.user
*.suo
*.vs/
*.DotSettings
*.csproj.user

# Python venv
asr_venv/

# Build outputs
*.exe
*.pdb
*.dll
!bin/**/*.dll

# OS files
Thumbs.db
.DS_Store

# Logs
*.log

# IDE
.idea/
.vscode/

# Misc
*.bak
*.orig
